<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Wikipedia</title>
</head>

<body>
    <header>
        <h1>
            Bienvenue sur le dossier wikipedia
        </h1>
    </header>
    <a href="/">Accueil</a>

    <form encoding="utf8_bin" method="post" action="page.html">
        <p>
            <label for="page"><font size="4" >Votre page :</font></label>
            <input type="text" name="page" id="page" placeholder="Ex : Python" required autofocus/>
            <input type="submit" value="Voir la page">
        </p>
    </form>
    <p>
    </p>
</body>

</html>